asgiref==3.11.0
click==8.3.1
colorama==0.4.6
cssbeautifier==1.15.4
Django==5.2.8
django-bootstrap5==26.1
django-rest-framework==0.1.0
djangorestframework==3.17.1
djlint==1.36.4
dotenv==0.9.9
EditorConfig==0.17.1
jsbeautifier==1.15.4
json5==0.12.1
pathspec==0.12.1
pillow==12.1.0
python-dotenv==1.2.2
PyYAML==6.0.3
regex==2025.11.3
six==1.17.0
sqlparse==0.5.3
tqdm==4.67.1
tzdata==2025.2
