{% extends "base.html" %}

{% load static %}

{% load django_bootstrap5 %}
{% block title %} {{ recipe.name }} {% endblock title %}

{% block content1 %}

<style>
    .btn-twitch {
        background-color: #9146FF;
        border-color: #9146FF;
        color: white;
    }
    .btn-twitch:hover {
        background-color: #772ce8;
        border-color: #772ce8;
        color: white;
    }
</style>

        <div class="card mb-3">
            <h5 class="card-header d-flex align-items-center">
                {{ recipe.name }}
            </h5>

            <div class="card-body">
                <div class="row align-items-start">
                    {% if recipe.image %}
                        <div class="col-md-3">
                            <img src="{{ recipe.image.url }}" alt="{{ recipe.name }}" class="img-fluid img-thumbnail" width="800" height="600">
                        </div>
                    {% else %}
                        <div class="col-md-3">
                            <img src="{% static 'images/default_recipe.jpg' %}" alt="{{ recipe.name }}" class="img-fluid img-thumbnail" width="800" height="600">
                        </div>
                    {% endif %}
                    <div class="col-md-9">
                        <i>Description: </i>
                        <p> {{ recipe.description }} </p>
                        <i>Ingredients: </i>
                        <p> {{ recipe.ingredients }} </p>
                        <i>Directions: </i>
                        <p> {{ recipe.directions }} </p>
                    </div>
                </div>
            <div class="text-left pb-1">
                <hr>
                <small>Created by:
                        {% if recipe.user.profile.profile_photo %}
                            <img src="{{ recipe.user.profile.profile_photo.url }}" alt="profile-photo" class="rounded-circle" width="20" height="20">
                        {% else %}
                            <img src="{% static 'images/default_user.jpg' %}" alt="profile-photo" class="rounded-circle" width="20" height="20">
                        {% endif %}

                        {% if recipe.user.profile %}
                            <a class="text-decoration-none" href="{% url "recipes:public_profile" recipe.user.id %}"> {{ recipe.user.username }} </a>
                        {% else %}
                            Anonymous
                        {% endif %}
                </small>

                <form action={% url "recipes:toggle_favorite" recipe.id %} method="post" class="d-inline float-end">
                    {% csrf_token %}
                    {% if user in recipe.favorited_by.all %}
                        <button type="Submit" class="btn btn-warning btn-sm text-black fs-5">🖤Unfavorite</button>
                    {% else %}
                        <button type="Submit" class="btn btn-twitch btn-sm text-white fs-5">🤍Favorite</button>
                    {% endif %}
                </form>

            </div>
        </div>
    </div>

    <div>
        <hr>
        <h6 class="text-muted mb-2">Comments ({{ comments|length }})</h6>
        <hr>
    </div>

    <!--Comment Form-->

    {% if user.is_authenticated %}
        <div class="mt-4">
            <h5>Leave a comment:</h5>
            <form method="post">
                {% csrf_token %}
                {% bootstrap_form comment_form %}
                    <div class="mt-3">
                        {% bootstrap_button button_type="submit" content="Post" %}
                    </div>
            </form>
            <br>
        </div>
    {% else %}
        <a href="{% url "accounts:login" %}">login</a> or <a href={% url "accounts:register" %}>register</a> to post a comment
        <hr>
    {% endif %}

    <div>
        {% for comment in comments %}
            <div class="border rounded p-2 mb-2 bg-light">
                 <div class="d-flex align-items-center mb-1">
                    {% if comment.user.profile.profile_photo %}
                        <img src="{{ comment.user.profile.profile_photo.url }}" alt="profile-photo" class="rounded-circle" width="20" height="20">
                    {% else %}
                        <img src="{% static 'images/default_user.jpg' %}" alt="profile-photo" class="rounded-circle" width="20" height="20">
                    {% endif %}
                    <div>
                        <div class="d-flex align-items-center">
                            <h6 class="mb-0 me-2">
                                <b>{{ comment.user }}</b>
                            </h6>
                            <p class="mb-0 text-muted">Added on {{ comment.date_added|date:"F d, Y" }} at {{ comment.date_added|time:"H:i"  }} </p>
                        </div>
                    </div>
                </div>
                    <p class="mb-0 text-muted">
                            {{ comment.text }}
                    </p>
            </div>
        {% empty %}
            <hr>
            <p>No comments</p>
        {% endfor %}
    </div>
{% endblock content1 %}

